# Root .gitignore for monorepo
node_modules/
**/node_modules/
.expo/
**/ .expo/
dist/
**/dist/
web-build/
**/web-build/
ios/
**/ios/
android/
**/android/
.vscode/
**/.vscode/
*.log
.DS_Store
.next/
**/.next/
*.zip

# Environment variables & secrets
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*
!**/.env.example
